@model Projeto_1._0_eixo3_2024.Models.Cachorro

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Informações do Cachorro</h1>

<h4>Cachorro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCachorro" />
            <div class="form-group">
                <label asp-for="NomeCachorro" class="control-label"></label>
                <input asp-for="NomeCachorro" class="form-control" />
                <span asp-validation-for="NomeCachorro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NascimentoCachorro" class="control-label"></label>
                <input asp-for="NascimentoCachorro" class="form-control" />
                <span asp-validation-for="NascimentoCachorro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RacaCachorro" class="control-label"></label>
                <input asp-for="RacaCachorro" class="form-control" />
                <span asp-validation-for="RacaCachorro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="btn btn-info" asp-action="Index">Voltar</a>
                <input type="submit" value="Salvar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
