
@{
    ViewData["Title"] = "AccessDenied";
}

<div>
<h1 style="text-align:center" >Accesso Negado</h1>
<img width="500px" style="display: block; margin-left:auto; margin-right:auto;" src="~/images/AcessoNegado.jpg" alt="Acesso Negado" />
</div>